<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmstradCpcStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AmstradCpcStudio.Properties.Settings>
            <setting name="FormMainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMainWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormMainHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicPlusLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicPlusTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicPlusWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicPlusHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormEditorBasicHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </AmstradCpcStudio.Properties.Settings>
    </userSettings>
</configuration>